# Time Series

https://pandas.pydata.org/docs/reference/api/pandas.date_range.html

https://numpy.org/doc/stable/reference/random/generated/numpy.random.Generator.random.html

https://numpy.org/doc/stable/reference/random/generated/numpy.random.Generator.poisson.html

In [11]:
import pandas as pd

In [12]:
idx = pd.date_range("2018-01-01", periods=72, freq="H")

In [13]:
idx

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               '2018-01-01 10:00:00', '2018-01-01 11:00:00',
               '2018-01-01 12:00:00', '2018-01-01 13:00:00',
               '2018-01-01 14:00:00', '2018-01-01 15:00:00',
               '2018-01-01 16:00:00', '2018-01-01 17:00:00',
               '2018-01-01 18:00:00', '2018-01-01 19:00:00',
               '2018-01-01 20:00:00', '2018-01-01 21:00:00',
               '2018-01-01 22:00:00', '2018-01-01 23:00:00',
               '2018-01-02 00:00:00', '2018-01-02 01:00:00',
               '2018-01-02 02:00:00', '2018-01-02 03:00:00',
               '2018-01-02 04:00:00', '2018-01-02 05:00:00',
               '2018-01-02 06:00:00', '2018-01-02 07:00:00',
               '2018-01-02 08:00:00', '2018-01-02 09:00:00',
               '2018-01-02 10:00:00', '2018-01-02 11:00:00',
               '2018-01-02 12:00:00', '2018-01-02 13:00:00',
               '2018-01-02 14:00:00', '2018-01-02 15:00:00',
               '2018-01-02 16:00:00', '2018-01-02 17:00:00',
               '2018-01-02 18:00:00', '2018-01-02 19:00:00',
               '2018-01-02 20:00:00', '2018-01-02 21:00:00',
               '2018-01-02 22:00:00', '2018-01-02 23:00:00',
               '2018-01-03 00:00:00', '2018-01-03 01:00:00',
               '2018-01-03 02:00:00', '2018-01-03 03:00:00',
               '2018-01-03 04:00:00', '2018-01-03 05:00:00',
               '2018-01-03 06:00:00', '2018-01-03 07:00:00',
               '2018-01-03 08:00:00', '2018-01-03 09:00:00',
               '2018-01-03 10:00:00', '2018-01-03 11:00:00',
               '2018-01-03 12:00:00', '2018-01-03 13:00:00',
               '2018-01-03 14:00:00', '2018-01-03 15:00:00',
               '2018-01-03 16:00:00', '2018-01-03 17:00:00',
               '2018-01-03 18:00:00', '2018-01-03 19:00:00',
               '2018-01-03 20:00:00', '2018-01-03 21:00:00',
               '2018-01-03 22:00:00', '2018-01-03 23:00:00'],
              dtype='datetime64[ns]', freq='H')

In [14]:
import numpy as np

In [15]:
rng = np.random.default_rng()

In [16]:
rng.poisson(5,10)

array([2, 6, 4, 4, 3, 5, 9, 5, 6, 7], dtype=int64)

In [17]:
ts = pd.DataFrame(data=rng.random(len(idx)), index=idx, columns=["admissions"])

In [18]:
ts

                     admissions
2018-01-01 00:00:00    0.951320
2018-01-01 01:00:00    0.787852
2018-01-01 02:00:00    0.522801
2018-01-01 03:00:00    0.893404
2018-01-01 04:00:00    0.163503
...                         ...
2018-01-03 19:00:00    0.472808
2018-01-03 20:00:00    0.986460
2018-01-03 21:00:00    0.888616
2018-01-03 22:00:00    0.618521
2018-01-03 23:00:00    0.854659

[72 rows x 1 columns]

In [19]:
ts.mean()

admissions    0.521086
dtype: float64

In [20]:
ts.loc["2018-01-01 01:00:00"]

admissions    0.787852
Name: 2018-01-01 01:00:00, dtype: float64

In [24]:
ts.loc["2018-01-01 01:00:00":"2018-01-01 23:00:00"].mean()

admissions    0.560308
dtype: float64